node_modules
npm-debug.log
src/test
src/__mocks__
src/**/*.test.ts
src/**/*.spec.ts
test
tests
*.spec.js
*.spec.ts
*.test.js
*.test.ts
.git
.gitignore
.env
.env.*
Dockerfile
docker-compose.yml
*.md
.eslintrc
.prettierrc
jest.config.js
coverage
build
dist
*.js.map
*.ts.map